* {
    box-sizing: border-box;
  }
  /* background #F7FAFD, headings #2E5660, text #455559 accent,bright #7ADCFF, dark #9FC0CC*/
  body {
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    background-color:#F7FAFD;
    text-align: center;
    line-height: 1.5;
    color: #455559;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #9FC0CC;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  header {
    padding: 15% 3% 3% 3%;
  }
  
  h1, h2, h3 {
    font-family: "Gentium Basic", sans-serif;
    color: #2E5660;
    text-align: center;
  }

  #nav-bar {
      display: flex;
      padding: 0;
      justify-content: space-evenly;
      font-weight: 600;
  }

  #nav-bar > li > a {
    text-decoration: none;
    color: #2E5660
  }

  li {
      list-style: none;
  }

  #about, .project-card {
    padding: 0% 5%; 
    text-align: left;
  }

  #avatar {
    width: 33%;
    height: 33%;
    border-radius: 50%;
    margin-bottom: 10%;
  }

  #skills {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
  }
  
  .project-card {
    border: 2px solid#9FC0CC;
    margin: 5%;
  }

  .project-card:hover {
    -moz-box-shadow:    inset 0 0 10px #9FC0CC;
    -webkit-box-shadow: inset 0 0 10px #9FC0CC;
    box-shadow:         inset 0 0 10px #9FC0CC;
  }

  .made-with > img {
    width: 25px;
    height: 25px;
    padding: 1%;
    margin: 1%;
  }

  .made-with {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .links {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    font-weight: 600;
  }
  
  .links > a {
    color: #7ADCFF;
    font-size: 120%;
  }

  .links > a:link, #contact > a:link  {
    text-decoration: none;
  }
  .links > a:visited, #contact > a:visited  {
    text-decoration: none;
  }
  .links > a:hover, #contact > a:hover  {
    text-decoration: underline;
  }
  .links > a:active, #contact > a:active  {
    text-decoration: underline;
  }

  img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    margin-bottom: 5%;
  }

  #contact > a {
    color: #7ADCFF;
    font-size: 120%;
    font-weight: 600;
    padding: 5%;
  }

 
  @media screen and (min-width: 320px) {
    body {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media only screen and (min-width:780px) {
    #avatar {
        width: 10%;
        float: left;
        margin-right: 5px;
    }
  } 
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }