* {
    box-sizing: border-box;
  }
  /* background #F7FAFD, headings #2E5660, text #455559 accent,bright #7ADCFF, dark #9FC0CC*/
  body {
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    background-color:#F7FAFD;
    text-align: center;
    line-height: 1.5;
    color: #455559;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #9FC0CC;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  h1, h2, h3 {
    font-family: "Gentium Basic", sans-serif;
    color: #2E5660;
  }

  ul {
      display: flex;
      justify-content: flex-end;
  }

  li {
      display: inline;
      list-style: none;
      margin: 2%;
  }

  #skills {
    flex-direction: row;
    justify-content: space-around;
  }
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  
  img {
      width: 80%;
      display: block;
      margin: auto;
  }
  #about > img {
      width: 30%;
      float: left;
      margin-right: 5px;
  }
  @media screen and (min-width: 320px) {
    body {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media only screen and (min-width:780px) {
    #about > img {
        width: 10%;
        float: left;
        margin-right: 5px;
    }
  } 
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }